[Unit]
# FIXME: Make this a 'dbus' activated unit
Description=SecretAgent for NetworkManager VPN & WiFi PSKs in password-store
Conflicts=exit.target
PartOf=graphical-session.target
# This doesn't work anyway because it's a user unit and NetworkManager is not
After=NetworkManager.service

[Service]
# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString
ExecStart=%h/vcs/misc-scripts/nm-pass-agent.py

## FIXME: these are copied from most of PrisonPC's systemd jobs, but apparently are "NOT APPROPRIATE for" any of them
Restart=on-failure
RestartSec=30s
StartLimitBurst=0

[Install]
WantedBy=graphical-session.target
