[Unit]
# FIXME: Make this a 'dbus' activated unit
Description=Mute state notifier
Conflicts=exit.target
PartOf=pulseaudio.service
After=pulseaudio.service pass-ssh-add.service

[Service]
# Python3 defaults to quite a large buffer for stdout/stderr.
# This makes the journal significantly less useful for debugging because the log messages don't appear immediately.
Environment=PYTHONUNBUFFERED=LiterallyAnyNonZeroString

# XFCE will overwrite all the options below if I don't tell it to keep them
# But it won't set them immediately, so I still have to set them myself
# FIXME: Can I somehow trigger XFCE to apply this?
# FIXME: This throws away everything XFCE may already have set
# FIXME: Must be manually kept in sync with the setxkbmap lines below
ExecStartPre=xfconf-query --channel keyboard-layout --property '/Default/XkbOptions/Compose' --set "ctrl:nocaps,shift:both_capslock_cancel,numpad:mac"

# Disable the Caps Lock key, because if we're using this, then accidental bumping will get the LEDs out of sync
ExecStartPre=/usr/bin/setxkbmap -option ctrl:nocaps

# But capslock is still useful sometimes, so enable it by pressing *both* shift keys at once
ExecStartPre=/usr/bin/setxkbmap -option shift:both_capslock_cancel
# Similar with Num Lock, but since there's no easy option for that I gotta cheat my way around it
# This disables the Num Lock feature (not the button itself) entirely by forcing it to behave the same regardless
ExecStartPre=/usr/bin/setxkbmap -option numpad:mac
# and this allows Shift+Num Lock to make the numpad control the mouse,
# which is more useful than putting arrow keys and such on there
ExecStartPre=/usr/bin/setxkbmap -option keypad:pointerkeys

ExecStart=%h/vcs/misc-scripts/pa-vol-locklights.py

# FIXME: This doesn't just unset the options we set, but rather it resets all options
ExecStopPost=/usr/bin/setxkbmap -option
ExecStopPost=xfconf-query --channel keyboard-layout --property '/Default/XkbOptions/Compose' --set ""

Restart=on-failure
RestartSec=30
StartLimitBurst=0

[Install]
WantedBy=graphical-session.target
